*{
    padding: 0px;
    margin: 10px;
}
.page{
    display: flex;
    padding-top: 20px;
    justify-content: space-around;
}
.logo{
    display: flex;
    padding-left: 500px;
    
}
.logo h1{
    float: left;
    padding-left: 0px;
    font-weight: 1000;
    font-style: italic;
}
.title{
    width: 300px;
    background-color: brown;
    height: 225px;
    justify-content: space-around;
    border-radius: 20%;
}
.title h3{
    padding: 15px 5px 5px 5px;
}
.alldivs{
    width: fit-content;
    height: fit-content;
}
.title2{
    width: 300px;
    background-color: brown;
    height: 225px;
    justify-content: space-around;
    border-radius: 20%;
}
.title2 h3{
    padding: 20px 5px 5px 5px;
}

.field{
    padding: 50px;
    margin: 50px;
    height: 600px;
}

@media only screen and (max-width: 650px) {
    page {
      background-color: lightblue;
      display: block;
      
    }